# Django
SECRET_KEY=change-this-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL
MYSQL_DATABASE=power_bank
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Crontab

PROFIT_TASK_CRON=0/5 * * * *

# Site
SITE_TITLE=分润管理系统
